/*
  Sidebar 
*/

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 200px;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-left: 10px;
  height: 100vh;
  z-index: 999;
  background: ##333;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 1px 1px 5px #000;
}

.sidebar-header {
  margin-top: 2em;
}

.yb-h3 {
  letter-spacing: 4px;
  font-size: 1.5em;
  margin: auto;
  text-align: center;
}

.yb-p {
  margin: 0px;
  text-align: center;
}

.yb-p-title {
  margin-top: 2em;
  margin-bottom: 0em;
}

.yb-p-loc {
  margin-top: 0em;
  margin-bottom: 2em;
}

.menu {
  padding-bottom: 3em;
  text-align: center;
  vertical-align: bottom;
  position: absolute;
  bottom: 0;
  left: 30%;
}

li {
  padding-bottom: .25em;
}

/*
  Body
*/

.content {
  margin-left: 210px;
  padding-top: 40px;
}

.links h4 {
  margin: 10px 0px 10px 0px;
}

.links p {
  margin: 0;
}

/* 
  Footer
*/

footer {
  text-align: left;
  margin-bottom: 30px;
}

footer p {
  margin: 0;
  padding: 0;
}
