
body {
  background: #282828;
  color: #989898;
  font-family: 'Poppins', helvetica;
  font-size: 1em;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #989898;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover, a:focus {
  color: #ffffff;
  text-decoration: underline;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #999999;
  line-height: 28px;
  text-align: center;
}

::-moz-selection {
  background: #b8a07e;
  color: #fff;
}

::selection {
  background: #b8a07e;
  color: #fff;
}


/*-----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/


#header {
  background: url("../img/heroPic.png") repeat scroll center center / cover;
  height: 100vh;
  width: 100%;
  background-color: #000000;
  text-align: center;
}


#header .header-content {
  height: 150vh;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-content h1 {
  font-size: 3em;
  letter-spacing: 10px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.header-content h3 {
  font-size: 1.5em;
  letter-spacing: 4px;
}

.header-content p {
  font-size: 1em;
  letter-spacing: 7px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-transform: none;
  color: #ffffff;
  font-weight: 500;
}

.header-content p a, h3 {
  color: #fff;
}

.header-content .list-social li {
  float: center;
  padding-bottom: 15px;
}

.header-content .list-social li i {
  color: #fff;
  font-size: 2em;
}


/*-----------------------------------------------------------------------------------*/
/*  Portfolio
/*-----------------------------------------------------------------------------------*/


div.#portfolio.portfolio {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
  max-height: 800px;
  font-size: 0px;
}

p.portfolio {
  position: relative;
  padding-bottom: 500px;
  text-align: center;
}

.grid-item {
  width: 200px;
  display: block;
  clear: both;
  width: 33%;
  float: left;
}
