/* Variables */

:root {
  --null: "";
}

/* Borders (for troubleshooting) */

.wborder {
  border: 1px solid #fff;
  z-index: 999;
}

.bborder {
  border: 1px solid #000;
  z-index: 999;
}

/* Basic Page Elements */

* {
  box-sizing: border-box;
}

main, html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

a:link, a:visited, a:hover {
  text-decoration: none;
}

a:link, a:visited {
  color: #000;
}

a:hover {
  color: #AF4034;
  transition: color .2s;
}

  /* Page Content */

nav {
  width: 20%;
  min-width: 200px;
  min-height: 300px;
  height: 100vh;
  border-right: 1px solid #000;
  position: fixed;
  left: 0;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav img {
  margin-left: auto;
  margin-bottom: 5rem;
  border: 1px solid #000;
  max-width: 125px;
}

ul {
  margin-left: auto;
  margin-bottom: auto;
  text-align: right;
}

nav li {
  padding: 0;
  list-style: none;
  font-family: 'Poiret One', cursive;
  color: #ccc;
}

#navLinks {
  letter-spacing: 1.2px;
}

nav #socialLinks {
  display: flex;
  position: fixed;
  bottom: 2em;
  width: 20%;
}

nav #socialLinks li {
  margin-left: 1em;
  text-align: right;
}

/* main  */

main {
  width: 60%;
  margin-left: 25%;
  height: 100%;
}